@import './index.css';

.container-edit {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 90vh;
  justify-items: center;
}

.container-edit__title {
  grid-area: 1/2/2/3;
  margin-top: 70px;
  height: 8vh;
  border-bottom: solid 1px rgb(228, 228, 228);
}

.container-edit__form {
  grid-area: 1/2/2/3;
  align-self: center;
  display: grid;
  gap: 20px;
}